
table {
    width: 100%;
    border-collapse: collapse; 
  
}


th{
    background-color: #00BFFF; 
    font-weight: bold; 
    padding: 10px; 
    border: 1px solid black;
    text-align: left;
    
}

td {
    padding: 10px;
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}
